body{
  height: 100%;
  margin: 0px;
  background-color: #555555;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
  height: 100vh;
  width: 100vw;
  background: #555555;
  color: #f0d43a;
}

h1, h2, h3 {
  // font-size: 60px;
  text-align: center;
}
h2 {
  text-align: center;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px 10px 10px;
  margin: 0 0 10px 0;
  border: 5px solid #777777;
  border-radius: 5px;
}
.weather.travel {
  border: 5px solid red;
}
.date {
  margin: 0 0 10px 0;
  font-size: 28px;
}
.temp {
  margin: 0 0 5px 0;
}
.description {
  margin: 0 0 5px 0;
}

.currentWeatherContainer {
  border: 5px solid green;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin: 0 0 30px 0;
}
.currentWeather {
  margin: 0 0 0 0;
  font-size: 28px;
  color: green;
}

.searchform {
  display: block;
  width: 200px;
  margin: 0 0 0 50px;
}
#flexcontainer {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}
#datacontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#weatherdata {
  margin: 20px 0 0 0;
}
#weather {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 50px;
}
#cityImage {
  max-width: 300px;
  justify-content: center;
}

button:hover {
  background: #9900ee;
  cursor: pointer;
}

@media(min-width: 600px) {
  #cityImage {
    max-width: 600px;
    justify-content: center;
  }
  .searchform {
    display: inline-block;
    width: 600px;
    margin: 0 0 0 50px;
  }
}

@media(min-width: 1000px) {
  #cityImage {
    max-width: 1000px;
    justify-content: center;
  }
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 